# -*- coding: utf-8 -*-
# vim: ft=yaml
---
systemd:
  ## tofs pattern
  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - osfinger
      - os
      - os_family
    # All aspects of path/file resolution are customisable using the options below.
    # This is unnecessary in most cases; there are sensible defaults.
    # dirs:
    #   files: files_alt
    #   default: default_alt
    # source_files:
    #   networkd:
    #     - 'network'
    #   resolved:
    #     - 'resolved.conf'
    #   timesyncd:
    #     - 'timesyncd.conf'

  ## units
  service:
    syncthing-someuser:
      Unit:
        Description: Syncthing P2P sync service for someuser
        After: network.target
  
      Service:
        ExecStart: /usr/bin/syncthing
        User: someuser
        Group: someuser
        Environment: STNORESTART=yes HOME=/home/someuser
  
      Install:
        WantedBy: multi-user.target

  ## resolved
  resolved:
    config:
      DNS: 1.1.1.1 1.0.0.1 2606:4700:4700::1111 2606:4700:4700::1001
      FallbackDNS: 8.8.8.8 8.8.4.4 2001:4860:4860::8888 2001:4860:4860::8844
      Domains: '""'
      LLMNR: 'True'
      MulticastDNS: 'True'
      DNSSEC: 'allow-downgrade'
      DNSOverTLS: 'False'
      Cache: 'True'
      DNSStubListener: 'udp'
      ReadEtchHosts: 'True'

  ## timesyncd
  timesyncd:
    timezone: 'UTC'

  ## networkd
  networkd:
    profiles:
      ## eth0.network
      network:
        eth0:
          - Match:
            - Name: eth0
          - Network:
            - DHCP: "yes"

      ## br0.netdev      
      netdev:
        br0:
          - NetDev:
            - Name: br0
            - Kind: bridge
          - Bridge:
            - HelloTimeSec: 0
            - MaxAgeSec: 0
            - ForwardDelaySec: 0
            - STP: 'no'
      
      ## 10-dmz.link
      link:
        10-dmz:
          - Match:
            - MACAddress: '00:a0:de:63:7a:e6'
          - Link:
            - Name: dmz0

      # 10-internet.link
        10-internet:
          - Match:
            - Path: 'pci-0000:00:1a.0-*'
          - Link:
            - Name: internet0
