systemd:
  service:
    syncthing-someuser:
      Unit:
        Description: Syncthing P2P sync service for someuser
        After: network.target
  
      Service:
        ExecStart: /usr/bin/syncthing
        User: someuser
        Group: someuser
        Environment: STNORESTART=yes HOME=/home/someuser
  
      Install:
        WantedBy: multi-user.target

  networkd:
    profiles:
      network:
        eth0:
          - Match:
            - Name: eth0
          - Network:
            - DHCP: "yes"
            
      netdev:
        br0:
          - Match:
            - Name: br0
            - Kind: bridge
          - Bridge:
            - HelloTimeSec: 0
            - MaxAgeSec: 0
            - ForwardDelaySec: 0
            - STP: 'no'

      link:
        10-dmz:
          - Match:
            - MACAddress: '00:a0:de:63:7a:e6'
          - Link:
            - Name: dmz0
        10-internet:
          - Match:
            - Path: 'pci-0000:00:1a.0-*'
          - Link:
            - Name: internet0

  timesyncd:
    timezone: 'UTC'

    files_switch:
      - id
      - os_family
