# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'systemd/resolved/defaults.yml' as default_settings %}

{## Get lookup variables from pillar ##}
{% set resolved_lookup = salt['pillar.get']('resolved:lookup', {}).copy() %}

{## setup variable using grains['os_family'] based logic ##}
{% set os_family_map = salt['grains.filter_by']({
        'Arch': {
            'resolv_target': '/run/systemd/resolve/stub-resolv.conf',
        },
        'RedHat': {
            'resolv_target': '/run/systemd/resolve/resolv.conf',
        },
        'Suse': {},
        'Debian': {
            'resolv_target': '/run/systemd/resolve/resolv.conf',
        },
  },
  grain="os_family",
  merge=resolved_lookup)
%}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.resolved.update(os_family_map) %}

{## Merge in resolved pillar ##}
{% set resolved = salt['pillar.get'](
        'resolved',
        default=default_settings.resolved,
        merge=True
    )
%}
